@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-secondary: #1E293B;
}
*{
  font-family: Outfit; 
}

  .font-playfair {
    font-family: Playfair !important; 
}

